body{
    margin: 0;
}
.heading{
    font-family: 'Righteous', cursive;
    font-size: 66px;
}
.different-color{
    color: orangered;
}
.flexible{
    display: flex;
    margin-bottom: 50px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 50px;
}
.half-width{
    width:50%;
    padding-left: 5%;
    padding-right: 5%;
}
img{
    height: 550px;
}
.second-section{
    background-image: url(img/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: right;
}