body{
    margin: 0;
}
.heading{
    font-family: 'Righteous', cursive;
    font-size: 66px;
}
.different-color{
    color: orangered;
}
.flexible{
    display: flex;
    margin-bottom: 30px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 50px;
}
.half-width{
    width:50%;
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 5px;
}
.half-width img{
    width:85%;
}
.second-section{
    background-image: url(img/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: left;
}
.second-section img{
    width:335px;
}
.developer{
    width:30%;
    margin-left: 5%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:10px;
    box-shadow: 10px 10px 40px goldenrod;
}
.developer img{
    width: 95%;
}
.recipie{
    text-align: center;
}
.developer p{
    margin-right: 40px;
    text-align: justify;
}
.flex{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px black;

}
.first{
    margin-left: 15%;
}
.second{
    margin-left: 15%;
}
.third{
    margin-left:15%;
}
footer{
    text-align: center;
    font-size: 20px;
    height: 70px;
    padding-top: 30px;
    color: white;
    background-color: black;
}
span{
    color:orange;
}
